[package]
name = "mrh"
version = "0.10.10"
description = "Crawls filesystem and displays pending status of each git repo found"
repository = "https://github.com/tshepang/mrh"
license = "MIT/Apache-2.0"
readme = "README.md"
categories = ["command-line-utilities"]
keywords = ["git"]
authors = ["Tshepang Lekhonkhobe <tshepang@gmail.com>"]
edition = "2018"

[features]
yaml = [ "serde_yaml", "serde_derive", "serde" ]
json = [ "serde_json", "serde_derive", "serde" ]

[dependencies]
git2 = "0.12"
structopt = "0.3"
walkdir = "2"
ansi_term = "0.11"
indexmap = "1"
serde_yaml = { version = "0.8", optional = true }
serde_json =  { version = "1", optional = true }
serde_derive =  { version = "1", optional = true }
serde =  { version = "1", optional = true }
dirs = "2"
